<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Day</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/calendar.css') }}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
<script src="{{url_for('static', filename='javascript/day.js')}}"></script>
</head>
<body onload="onload_func()">

<script>
function onload_func()
{
    document.getElementById("plot").style.display = "none";
}
</script>


 <header>
         <div class="container">
            <h1 class="logo">Performance App</h1>
            <strong>
               <nav>
                  <ul class="menu">
                     <li><a href="{{ url_for('day') }}">Day</a></li>
                     <li><a href="{{ url_for('_range') }}">Range</a></li>
                      <li><a href="{{ url_for('officer') }}">Officer</a></li>
                  </ul>
               </nav>
            </strong>
         </div>
      </header>



<form method="post">
  <label for="startday">Start Date:</label>
  <input type="date" id="startday" name="Start_Date">

    <label for="endday">End Date:</label>
  <input type="date" id="endday" name="End_Date">
  <button  id="submit_btn">Submit</button>
</form>


 <p>{{selected_date}}</p>

<img id="plot" src="{{ url_for('static', filename=graph) }}" />

</body>


</html>