<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
</head>
<body>
     <header>
         <div class="container">
            <h1 class="logo">Performance App</h1>
            <strong>
               <nav>
                  <ul class="menu">
                     <li><a href="{{ url_for('day') }}">Day</a></li>
                     <li><a href="{{ url_for('_range') }}">Range</a></li>
                      <li><a href="{{ url_for('officer') }}">Officer</a></li>
                  </ul>
               </nav>
            </strong>
         </div>
      </header>
      {% block content %}
      {% endblock %}
</body>
</html>